body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-wi*/
}

.blue {
    color: #337ab7;
}

.red {
    color: red;
}

.green {
    color: green;
}
.navbar-default {
   
   color: #b0bed9;
}
/*
.navbar-default .navbar-brand
{
  color:red;
  margin-right:15px;
  margin-right:15px;
  width: 251px
}

.navbar-default .navbar-brand:hover
{
  color:red;
}

.navbar-top-links li:last-child {
margin:0;
background-color: #f8f8f8

}*/

.navbar-brand{
    padding: 0px 25px;
    
}
.form-horizontal .form-group
{
    margin-right: 30px;
}
.jumbotron {
    padding: 100px;
    background-color:#337ab7;
    color: white;
   
}
.scroll
{
    max-height: 200px;
    overflow: scroll;
}
