body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-wi*/
}

.blue {
    color: #337ab7;
}

.red {
    color: red;
}

.green {
    color: green;
}

/*.navbar-default {
    background-color: #bbd0f0;
    background-image: url('../Images/27268.jpg');
    color:Background
    
}

.navbar-default .navbar-brand
{
  color:white
}

.navbar-default .navbar-brand:hover
{
  color:white
}*/

